
body {
  cursor: default;
  -webkit-user-select: none;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

.main {
  margin-top: 15px;
  text-align: center;
}
*, *:before {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}
@import '../../node_modules/fixed-data-table/dist/fixed-data-table-base.css';
@import '../../node_modules/fixed-data-table/dist/fixed-data-table.css';
@import '../../node_modules/fixed-data-table/dist/fixed-data-table-style.css';
.editArea{
  background-color: transparent;
  width: 100%;
  border: none;
}